.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 75, 30);
 

  img {
    height: 400px;
    width: 400px;
  }
}

.form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #27242C;

  img {
    height: 200px;
    width: 200px;;
  }

  input {
    height: 40px;
    width: 80%;
    border: 0;
    padding: 0;
    font-size: 1.3rem;
    outline: none;
  }
}

.inputName {
  margin-bottom: 30px;
  padding-left: 20px;
  text-align: center;
  background-color: #F4F2F7;
}

.inputSubmit {
  background-color: #5f32fd;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:hover {
    filter: brightness(0.7);
  }
}

@media (max-width: 760px) {
  .img_container {
    display: none;
  }

  .form {
    width: 100%;
  }
}