.albumContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.album {
  height: 70vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 150px;
    width: 150px;
  }
}

.musics {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.musicCard {
  height: 110px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #3D3A41;

  h4 {
    width: 160px;
  }
}

@media (max-width: 760px) {
  .albumContainer {
    flex-direction: column;
    align-items: center;
  }

  .album {
    width: 80%;
    height: auto;
    margin-bottom: 50px;
  }

  .musics {
    width: 90%;
  }

  .musicCard {
    height: auto;
    width: 100%;
    flex-direction: column;

    h4 {
      width: auto;
    }
  }
}