.music_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.music_card {
  height: 110px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #3D3A41;

  h4 {
    width: 160px;
  }
}

@media (max-width: 760px) {
  .music_card {
    height: auto;
    flex-direction: column;
    padding: 20px 0;
  }
}